@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800);
body {
    background-color: #1F2937;
    color: rgb(212, 212, 212);
    font-size: 20px;
    margin:0px;
    font-family:'Open Sans';
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.button-containers {
    background-color:#3882F6 ;
    text-align: center;
    padding:10px 15px 15px 15px;
    margin: 15px 0;
    width:75px;
    height:15px;
    font-size: 20px;
    align-content:center;
    border-radius:5px;
 
 }

.header-section {
    display: flex;
    height: 75px;
    padding:15px;
    justify-content: space-between;
}
#header-logo {
    order:-1;
    font-size: 30px;
    margin-right:-40px;
    margin-left:120px;
    color: #F9FAF8
} 
#header-buttons {
    display:flex;
    justify-content: space-around;
    width:420px;
    font-size:24px;
    color: #E5E7EB;
    margin-right:50px;
    
}
#header-image {
   height:225px; 
   width:475px;
   border-radius:2%;
}

.top-section {
    display:flex;
    height:375px;
    justify-content: center;
    align-items: center;
}
#top-text {
margin: 15px 100px 25px 20px;
color:#E5E7EB;
width: 450px;
}

.recipe-section  {
    background-color:rgb(255, 255, 255);
    color:#1F2937;
    height:425px;
    width:100%;
}
#recipe-header {
    margin:25px auto;
    font-size: 44px;
    width:300px;
    font-weight:600;
}
.recipe-list {
    display:flex;
    height:max-content;
    justify-content: center;
}
.recipe-individual {
    display:flex;
    flex-direction: column;
    padding:auto;
    margin: 15px 45px;
}
.recipe-image {
    width:175px; 
    height:175px; 
    border-color:#3882f6; 
    border-style:ridge;
    border-width: 2px;
}

.quote-section {
    background-color:#E5E7EB;
    height:400px;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    color:#1F2937;

}
.quote-text {
    display:flex;
    width:725px;
    height:min-content;
    margin-top:121px;
    font-size: 38px;
    font-style: italic;
    font-weight:300;
}
.quote-name {
    font-size:22px;
    margin:-5px 0px 0px 325px;
    font-weight: 600;
}